/* You can add global styles to this file, and also import other style files */
@import 'variaveis.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $cor-fundo;
}

.flex {
  display: flex;
  &-center {
    justify-content: center;
    align-items: center;
  }
}

.titulo {
  color: $cor-primaria;
  display: block;
  font-weight: 700;
  &-bg {
    @extend .titulo;
    font-size: 2.2rem;
  }

  &-md {
    @extend .titulo;
    font-size: 1.4rem;
  }
}

.mt {

  @for $i from 1 to 9 {
    &-#{ $i } {
      margin-top: #{ $i }vh;
    }
  }
}
